<h1>edit <%= @dog.name %></h1>

<a href="/dogs"> go back </a>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <div>
    <label for="name">name</label>
    <input id="name" type="text" name="dog[name]" value="<%= @dog.name %>">
  </div>
  <div>
    <label for="age">age</label>
    <input id="age" type="text" name="dog[age]" value="<%= @dog.age %>">
  </div>
  <div>
    <label for="breed">breed</label>
    <input id="breed" type="text" name="dog[breed]" value="<%= @dog.breed %>">
  </div>
  <input type="submit" value="Edit that dog">
</form>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="DELETE THAT DOG ;(">
</form>
